{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <h2 class="title"> {{page.title}}</h2>
        <hr/>
        <!-- TODO Query (10) -->
        <!-- First check should be a valid instance -->
        <!-- Second check should be what type of genre? -->
        {% if genre | length > 0 %}
        <div>
            <table class="styled">
                <thead>
                    <tr>
                        <td>Item ID</td>
                        <td>Item Title</td>
                        <td>Item Type</td>
                    </tr>
                </thead>
                <tbody>
                {% if genre[0].md_type_name == 'film genre' %}
                    {% for instance in genre_item %}
                        {% if instance.tvshow_id %} <!-- movie-->
                            <tr class="clickable-tr" data-href="{{ url_for('single_tvshow', tvshow_id=instance.tvshow_id)}}">
                                <td style="text-align: center">{{ instance.tvshow_id }}</td>
                                <td>{{instance.tvshow_title}}</td>
                                <td>{{'TV Show'}}</td>
                            </tr>
                        {% else %}
                            <tr class="clickable-tr" data-href="{{ url_for('single_movie', movie_id=instance.movie_id)}}">
                                <td style="text-align: center">{{ instance.movie_id }}</td>
                                <td>{{instance.movie_title}}</td>
                                <td>{{'Movie'}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if genre[0].md_type_name == 'song genre' %}
                    {% for instance in genre_item %}
                    <!-- Each row is a link to each individual podcast page -->
                    <tr class="clickable-tr" data-href="{{ url_for('single_song', song_id=instance.song_id)}}">
                        <td style="text-align: center">{{ instance.song_id }}</td>
                        <td>{{instance.song_title}}</td>
                        <td>{{'Song'}}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if genre[0].md_type_name == 'podcast genre' %}
                    {% for instance in genre_item %}
                    <!-- Each row is a link to each individual podcast page -->
                    <tr class="clickable-tr" data-href="{{ url_for('single_podcast', podcast_id=instance.podcast_id)}}">
                        <td style="text-align: center">{{ instance.podcast_id }}</td>
                        <td>{{instance.podcast_title}}</td>
                        <td>{{'Podcast'}}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        {% else %}
            <h2 class="title"> Invalid Genre ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
