{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- Check if We have a valid song -->
        {% if song | length > 0 %}
            <h2 class="title"> {{song[0].song_title}} by {{song[0].artists}}</h2>
            <br/>
            Song is {{song[0].length}} seconds long.
            <hr/>
            <h3> Artworks </h3>
            {% for instance in songmetadata %}
                {% if instance.md_type_name == 'artwork' %}
                    <div>
                    <img src="{{instance.md_value}}" alt="image">
                    <br/>© Spotify Public Domain 2019.
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Descriptions </h3>
            {% for instance in songmetadata %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
            <!-- TODO - Query 10
            You will have to modify the approach below slightly to make each genre clickable
            -->
            <h3> Genres </h3>
            {% for instance in songmetadata %}
                {% if instance.md_type_name == 'song genre' %}
                    <a href="{{ url_for('single_genre',genre_id=instance.md_id)}}">
                        <div>
                            {{instance.md_value}}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

        <video id="myAudio" controls preload = "auto">
            <source src={{song[0].storage_location}} ><!--type="audio/mpeg"-->
            Your browser does not support the audio element.
        </video>
        <script>
            var startTime = JSON.parse({{ start_at | tojson }});
            var currentId = JSON.parse({{song[0].media_id | tojson}});
            var aud = document.getElementById("myAudio");
            var is_initial = true;
            var update_count = true;
            aud.addEventListener('pause',function() { getCurTime();}, true);
            //aud.addEventListener('loadedmetadata', () => { console.log('meta loaded') });
            aud.addEventListener('canplaythrough', function(){
                if(this.currentTime < parseFloat(startTime) && is_initial){
                    this.currentTime = parseFloat(startTime);
                    is_initial = false;
                }
                this.play();
            })
            function getCurTime(){
                fetch(`/playersave/${currentId}/${aud.currentTime}/
                        ${((aud.currentTime/aud.duration)*100).toFixed(2)}/${update_count}`)
                    .then(update_count = false);
            }

        </script>
        {% else %}
            <h2 class="title"> Invalid Song ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
